<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>applicant details</title>
</head>
<body>
<input type="text" name="surname" placeholder="surname"><br><br>
<input type="text" name="othername" placeholder="othername"><br><br>
<input type="text" name="date_of_birth" placeholder="date_of_birth"><br><br>
<input type="text" name="state_of_origin" placeholder="state_of_origin"><br><br>
<input type="text" name="local_government_area" placeholder="local_government_area"><br><br>
<input type="text" name="religion" placeholder="religion"><br><br>
<input type="text" name="other_info" placeholder="other_info"><br><br>
<input type="text" name="age" placeholder="age"><br><br>
<input type="text" name="parent_phone_number" placeholder="parent_phone_number"><br><br>
<input type="text" name="health_condition" placeholder="health_condition"><br><br>
<input type="text" name="health_condition_statement" placeholder="health_condition_statement"><br><br>
<input type="text" name="class_of_admission" placeholder="class_of_admission"><br><br>
<input type="text" name="previous_school" placeholder="previous_school"><br><br>
<input type="text" name="reason" placeholder="reason"><br><br>
</body>
</html>
