{% load static %}
{% for resu in resul %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prestige international college</title>
    <!-- Bootstrap CSS -->
<link rel="icon" type="image/png" href="{% static 'images/SCHOOL%20LOGO%20-%20Copy%20(11).png' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css ' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/datatables/css/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/datatables/css/buttons.bootstrap4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/datatables/css/select.bootstrap4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/datatables/css/fixedHeader.bootstrap4.css' %}">
     <style>


.watermark {
    opacity: 0.1;
    color: BLACK;
    position: absolute;
    bottom: 30%;
    right: 34%;
    background-image:images/SCHOOL%20LOGO%20-%20Copy%20(11).png;
    width:40%;
    height:40%


}


@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600');
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  position: absolute;
  top: 50%;

  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px solid red;
}

.container{
  width: 350px;
  height: 525px;
  background: #fff;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.container .profile-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -65px;
  left: 85px;
  border: 5px solid #a4d9f9;
}

.content{
  padding: 65px 20px 20px;
}

.content .sub-content{
  text-align: center;
}

.content .sub-content h1{
  text-transform: uppercase;
  font-size: 24px;
  color: #1da1f2;
}

.content .sub-content span{
  font-size: 12px;
  color: #494949;
}

.content .sub-content p{
  margin-top: 15px;
  font-weight: 600;
}

.content .sub-content span.location{
  display: block;
  margin: 5px 0 20px;
}

.content .sub-content span.location .fa{
  font-size: 18px;
  margin-right: 5px;
}

.content .sub-content a{
  color: #1da1f2;
}

.data{
  width: 100%;
  overflow: hidden;
  margin: 30px 0 20px;
}

.inner-data{
  width: 33.3%;
  float: left;
  text-align: center;
}

.inner-data span .fa{
  font-size: 30px;
  margin-bottom: 5px;
  color: #1da1f2;
}

.btn{
    clear: both;
    text-align: center;
    width: 100%;
    height: 35px;
    background: #1da1f2;
   color: #fff;
  text-transform: uppercase;
  line-height:38px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}



</style>
     <script>
        function printContent(el){

            var restorepage=document.body.innerHTML;
            var printcontent=document.getElementById(el).innerHTML;
            document.body.innerHTML=printcontent;

            window.print();

            document.body.innerHTML=restorepage;


        }


    </script>



</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
         <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
         <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/">Prestige</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">

                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="../assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="../assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">
John Abraham</span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="../assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="../assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="../assets/images/github.png" alt="" > <span>Github</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="../assets/images/dribbble.png" alt="" > <span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="../assets/images/dropbox.png" alt="" > <span>Dropbox</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="../assets/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="../assets/images/mail_chimp.png" alt="" ><span>Mail chimp</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="../assets/images/slack.png" alt="" > <span>Slack</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">
John Abraham</h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
       <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
<li class="nav-item">
                                            <a class="nav-link" href="{% url 'payment' %}">Payment page</a>
                                        </li>


                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'check_result' %}">Check Result</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Student Info</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'student_profile' %}">Profile <span class="badge badge-secondary">New</span></a>
                                        </li>

 <li class="nav-item">
                                            <a class="nav-link" href="{% url 'Idcard' %}">View Id Card <span class="badge badge-secondary">New</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>



                            <li class="nav-divider">

                            </li>








                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            {% if user.is_authenticated %}
                            <h2 class="pageheader-title">Welcome {{ user.get_surname }} {{user.get_first_name}}</h2>
                            {% endif %}
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <br><br>
                                        <li class="breadcrumb-item"> <button type="button" style="background-color:#64C867; border-radius:8px;  color:white; padding:6px;" onclick="printContent ('div1')">Print Receipt</button></li>

                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
<!--                <div class="row">-->
<!--                    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--                    &lt;!&ndash; basic table  &ndash;&gt;-->
<!--                    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">-->
<!--                        <div class="card">-->
<!--                            <h5 class="card-header">Basic Table</h5>-->
<!--                            <div class="card-body">-->
<!--                                <div class="table-responsive">-->
<!--                                    <table class="table table-striped table-bordered first">-->
<!--                                        <thead>-->
<!--                                            <tr>-->
<!--                                                <th>Name</th>-->
<!--                                                <th>Position</th>-->
<!--                                                <th>Office</th>-->
<!--                                                <th>Age</th>-->
<!--                                                <th>Start date</th>-->
<!--                                                <th>Salary</th>-->
<!--                                            </tr>-->
<!--                                        </thead>-->
<!--                                        <tbody>-->
<!--                                            <tr>-->
<!--                                                <td>Tiger Nixon</td>-->
<!--                                                <td>System Architect</td>-->
<!--                                                <td>Edinburgh</td>-->
<!--                                                <td>61</td>-->
<!--                                                <td>2011/04/25</td>-->
<!--                                                <td>$320,800</td>-->
<!--                                            </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--                    &lt;!&ndash; end data table multiselects  &ndash;&gt;-->
<!--                    &lt;!&ndash; end data table multiselects  &ndash;&gt;-->
<!--                    &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--                </div>-->

                  <div id="div1">
                      <div class="watermark" ></div>

               <div class="wrapper">
  <div class="container" style="width:550px; height:440px;">
        <div class="container-fluid">

  <div class="row">

      <div class="col-sm-4" style=""><center> <img alt="Profile pic" src="{% static 'images/SCHOOL%20LOGO%20-%20Copy%20(11).png' %}" height="50px" width="50px" style="padding-top: 7px;"></center></div>

      <div class="col-sm-8" style="padding-top:20px; padding-left:0px; font-size:16px;"><b>PRESTIGE INTERNATIONAL ACADEMY</b><br><center><span style="font-size:15px;">...Towards Employability</span></center></div>
  </div>
            <hr>
            <center>  <span><b>school fee for {{resu.paymentclass}} {{resu.paymentterm}}</b></span><br>
            <span>Payment Receipt</span>
<img alt="Profile pic" class="watermark" src="{% static 'images/SCHOOL%20LOGO%20-%20Copy%20(11).png' %}" height="50px" width="50px" style="padding-top: 7px;">
            </center><br>
            <b>
            Referend id: {{resu.reference_id}}<br><br>
            Student's Id: {{resu.email}}<br><br>
            Class: {{resu.paymentclass}}<br><br>
            Term: {{resu.paymentterm}}<br><br>
                Section: {{resu.section}}<br><br>
            Payment Amount: {{resu.paymentamount}}<br><br>
            Payment Date: {{resu.date}}<br><br>

                </b>
</div>
</div>
</div>


                  </div>
            </div><br>


            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/vendor/multi-select/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'assets/vendor/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="{% static 'assets/vendor/datatables/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables/js/data-table.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>

</body>

</html>
{% endfor %}